html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans';
  line-height: 1.3;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #DDDEDE;
  margin: 0;
  z-index: 20;
}

.body {
  position: relative;
  display: block;
  width: 100%;
  top: 10px;
  height: 1500px;
  background-color: #143D5B;
  z-index: 100;
}

.body_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../images/trans_png_wide_full_logo_long.png");
  background-position: top;
  background-repeat: no-repeat;
  top: -63px;
  z-index: 230;
}

.body_text {
  display: block;
  position: absolute;
  height: 500px;
  width: 78%;
  padding: 100px 100px 0 75px;
  font-size: 20px;
  font-weight: 300;
  color: #F6D8B0;
  opacity: 75%;
  z-index: 370;
  font-family: sans-serif;
  float: left;
  text-align: justify;
  -ms-flex-line-pack: center;
      align-content: center;
  word-break: break-word;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 800px;
}

.body #rounded_blue {
  position: relative;
  top: 800px;
  left: 322px;
  width: 51.7%;
  height: 250px;
  background-color: #184F70;
  z-index: 350;
  border-radius: 75px;
}

.body #rounded_cream {
  position: relative;
  top: 700px;
  width: 100%;
  height: 500px;
  background-color: #F0E5D5;
  z-index: 300;
}

.hamburger {
  display: block;
  float: right;
  padding: 42px 52px 5px 5px;
  margin: -2px -2px -5px -5px;
}

.hamburger_span {
  display: block;
  position: relative;
  background-color: #DE5C38;
  height: 2px;
  width: 25px;
  padding: 1px 5px 1px 5px;
}

.hamburger_span:not(:last-child) {
  margin-bottom: 3px;
}

.menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  padding: 35px 50px 0 0;
  z-index: 200;
}

.menu_a {
  margin: 0;
  padding: 0 0 0 25px;
  text-decoration: none;
  color: #143D5B;
  font-weight: 600;
}

.logo {
  position: relative;
  float: left;
  left: -310px;
  top: -155px;
  height: 400px;
  width: 764px;
  scale: 25%;
  margin: 0 0 0 0;
  background-image: url("../../images/logo.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: inherit;
}

.logo a {
  height: 10px;
  width: 25px;
}

.footer {
  width: 100%;
  height: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  background-color: #143D5B;
  z-index: 500;
}

.footer_link {
  margin-top: -5px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #F6D8B0;
  z-index: 450;
}

@media screen and (max-width: 640px) {
  .hide-for-mobile {
    display: none;
  }
  .hide-for-desktop {
    display: block;
  }
  .logo-scale {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  .line-br {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .hide-for-mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .hide-for-desktop {
    display: none;
  }
  .logo-scale {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .panel-scale {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .hide-for-desktop {
    display: none;
  }
  .hide-for-mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (max-width: 2048px) {
  .hide-for-desktop {
    display: none;
  }
  .hide-for-mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
/*# sourceMappingURL=style.css.map */